:root {
	--ion-color-primary: #ad38a9;
	--ion-color-primary-rgb: 173,56,169;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #983195;
	--ion-color-primary-tint: #b54cb2;

	--ion-color-secondary: #dda7ec;
	--ion-color-secondary-rgb: 221,167,236;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #c293d0;
	--ion-color-secondary-tint: #e0b0ee;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #0b9442;
	--ion-color-success-rgb: 30,174,88;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #1a994d;
	--ion-color-success-tint: #35b669;

	--ion-color-warning: #d9af26;
	--ion-color-warning-rgb: 217,175,38;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #bf9a21;
	--ion-color-warning-tint: #ddb73c;

	--ion-color-danger: #981f2f;
	--ion-color-danger-rgb: 152,31,47;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #861b29;
	--ion-color-danger-tint: #a23544;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f5f5f5;
	--ion-color-light-rgb: 207,207,207;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #b6b6b6;
	--ion-color-light-tint: #d4d4d4;
}